---
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import BlogCard from '@/components/react/blog-card'
import Skills from '@/components/react/skills'
import { buttonVariants } from '@/components/ui/button'
import Logo from '@/components/ui/logo'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'
import { SITE } from '@/consts'

import Breadcrumbs from '@/components/Breadcrumbs.astro'

import BuyMeCoffee from '@/components/react/buymeacoffe'
import PaginationComponent from '@/components/ui/pagination'

import { getAllProjects } from '@/lib/data-utils'
import type { PaginateFunction } from 'astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const allProjects = await getAllProjects()
  return paginate(allProjects, { pageSize: 6 })
}

const { page } = Astro.props
const projectData = await getAllProjects()




const blog = await getRecentPosts(3)
const currentUrl = Astro.url;
---

<Layout canonicalUrl={currentUrl}>
  <PageHead slot="head" title="Desarrollador Full Stack Junior" />
  <section class="flex flex-col gap-y-12 px-4 py-8 sm:px-8 lg:px-16">
    <div
      class="flex flex-col items-center text-center sm:flex-row sm:items-start sm:gap-8 sm:text-left"
    >
      <div class="relative overflow-hidden rounded-lg sm:shrink-0 sm:overflow-hidden sm:rounded-lg">
        <Logo
          className="h-auto w-40 object-cover sm:w-48 md:w-56 lg:w-64 "
        />
      </div>
      <div class="mt-8 sm:mt-0 sm:max-w-xl">
        <h1
          class="font-custom text-foreground text-start text-4xl font-extrabold sm:text-5xl"
        >
          {SITE.title}
        </h1>
        <div class="mt-4 flex items-center gap-2" aria-label="ubicación">
          <span
            class="bg-primary text-primary-foreground ring-primary/30 rounded-full px-3 py-1 text-sm font-medium ring-1"
          >
            Soy de
          </span>
          <span class="flex items-center gap-1">
            <span class="text-foreground text-sm font-medium"> {SITE.location}</span>
            <!-- Argentina Flag SVG(teamoargentinalinda) -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 51.18 38.4"
              class="h-6 w-6 transition-transform duration-500 hover:rotate-12"
              aria-hidden="true"
              role="img"
              focusable="false"
              aria-labelledby="title"
            >
              <!-- Top light blue stripe -->
              <path
                d="M3.03 0h45.12c1.67 0 3.03 1.36 3.03 3.03v9.77H0V3.03C0 1.36 1.37 0 3.03 0z"
                fill="#74ACDF"
              />
              
              <!-- Middle white stripe -->
              <path
                d="M0 12.8h51.18v12.8H0z"
                fill="#FFFFFF"
              />
              
              <!-- Bottom light blue stripe -->
              <path
                d="M0 25.6h51.18v9.77c0 1.67-1.37 3.03-3.03 3.03H3.03C1.37 38.4 0 37.04 0 35.37V25.6z"
                fill="#74ACDF"
              />
              
              <!-- Sun of May (Sol de Mayo) -->
              <g transform="translate(25.59, 19.2)">
                <circle r="5" fill="#F6B40E" stroke="#85340A" stroke-width="0.2"/>
                
                <!-- Sun rays -->
                <path d="M 0,-5 L 0,-8" stroke="#F6B40E" stroke-width="0.5" fill="none"/>
                <path d="M 0,-5 L 0,-8" stroke="#F6B40E" stroke-width="0.5" fill="none" transform="rotate(45)"/>
                <path d="M 0,-5 L 0,-8" stroke="#F6B40E" stroke-width="0.5" fill="none" transform="rotate(90)"/>
                <path d="M 0,-5 L 0,-8" stroke="#F6B40E" stroke-width="0.5" fill="none" transform="rotate(135)"/>
                <path d="M 0,-5 L 0,-8" stroke="#F6B40E" stroke-width="0.5" fill="none" transform="rotate(180)"/>
                <path d="M 0,-5 L 0,-8" stroke="#F6B40E" stroke-width="0.5" fill="none" transform="rotate(225)"/>
                <path d="M 0,-5 L 0,-8" stroke="#F6B40E" stroke-width="0.5" fill="none" transform="rotate(270)"/>
                <path d="M 0,-5 L 0,-8" stroke="#F6B40E" stroke-width="0.5" fill="none" transform="rotate(315)"/>
                
                <!-- Face -->
                <circle cx="-1.5" cy="-1" r="0.4" fill="#85340A"/>
                <circle cx="1.5" cy="-1" r="0.4" fill="#85340A"/>
                <path d="M -2,1 Q 0,2 2,1" stroke="#85340A" stroke-width="0.3" fill="none"/>
              </g>
            </svg>
          </span>
        </div>
        <p class="text-md text-foreground mt-4 text-start font-sans" title="descripción" aria-label="descripción">
          {SITE.description}
        </p>
      </div>
    </div>

    <section class="relative" aria-labelledby="skills-title">
      <h2
        id="skills-title"
        class="font-custom text-foreground text-2xl font-bold"
        title="habilidades"
        aria-label="habilidades"
        role="heading"
      >
        Habilidades y Tecnologías
      </h2>
      <p class="text-muted-foreground text-sm" aria-label="descripción de habilidades">
        Aquí hay algunas de las tecnologías con las que he estado trabajando:
      </p>
      <div>
        <Skills client:load />
      </div>
    </section>

    <!-- <section class="flex flex-col gap-y-4" aria-labelledby="latest-posts-title" role="region">
      <div class="relative" aria-labelledby="latest-posts-title">
        <h2
          id="latest-posts-title"
          class="font-custom text-foreground text-2xl font-bold"
          title="últimas publicaciones del blog"
          aria-label="últimas publicaciones del blog"
        >
          Últimas Publicaciones del Blog
        </h2>
        <p class="text-muted-foreground text-sm" aria-label="descripción del blog">
          Aquí están algunas de mis últimas publicaciones del blog. Puedes encontrar más en mi página del blog.
        </p>
      </div>
      <ul class="flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center" aria-label="ver todas las publicaciones">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          Ver todas las publicaciones <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section>
  </section> -->

  <section class="max-screen mt-12 px-4 md:px-6">
    <div class="flex flex-row items-center justify-between mb-8">
      <div>
          <div class="flex w-fit items-center gap-2 text-primary">
            <Icon name="lucide:star" class="h-4 w-4 text-yellow-500 animate-pulse" />
            <p class="shimmer word-spacing font-mono text-sm uppercase leading-none text-primary">My Work</p>
          </div>
          <h2
            id="skills-title"
            class="font-custom text-foreground text-4xl font-bold mt-2"
          >
            Projects
          </h2>
          <p class="text-muted-foreground text-md max-w-2xl mt-3">
            Here are some of the projects I have worked on. I am always looking for new challenges and opportunities to learn and grow as a developer. If you have a project in mind, feel free to reach out!
          </p>
      </div>
      <div>
        <BuyMeCoffee />
      </div>  
    </div>
  
    <div class="mt-12 grid grid-cols-1 py-sm sm:grid-cols-2 gap-x-8 mb-16 gap-y-8">
      {projectData.map((project, _) => (
        <div
          class="group h-full w-full transition-all duration-300 hover:translate-y-[-4px] even:sm:mt-14"
        >
          <a class="flex flex-col h-full w-full rounded-2xl overflow-hidden bg-card hover:shadow-lg transition-all duration-300 border border-card-foreground/10" href={`/projects/${project.id}`} aria-label="Project link">
            <div
              class="aspect-[16/10] w-full overflow-hidden"
            >
              <Image
                alt={project.data.name}
                src={project.data.image}
                class="h-full w-full object-cover transition-transform duration-500 group-hover:scale-105"
                loading="lazy"
                fetchpriority="low"
                width={600}
                height={375}
              />
            </div>
            <div
              class="flex flex-col justify-between p-5 flex-grow"
            >
              <div>
                <h3 class="text-xl font-medium text-foreground mb-2">{project.data.name}</h3>
                <p class="text-sm text-muted-foreground line-clamp-2 mb-4">
                  {project.data.description || "An innovative project showcasing creativity and technical skills"}
                </p>
              </div>
              <div class="flex flex-wrap justify-between items-center mt-auto pt-3 border-t border-border/40">
                <div class="flex flex-wrap gap-2">
                  {project.data.tags?.slice(0, 2).map((tag) => (
                    <span class="text-xs px-2 py-1 rounded-full bg-primary/10 text-primary font-medium">{tag}</span>
                  ))}
                  {project.data.tags?.length > 2 && (
                    <span class="text-xs px-2 py-1 rounded-full bg-secondary/80 text-primary font-medium">+{project.data.tags.length - 2}</span>
                  )}
                </div>
                <p class="text-xs font-medium text-muted-foreground flex items-center">
                  <Icon name="lucide:calendar" class="h-3 w-3 mr-1" />
                  {project.data.endDate ? new Date(project.data.endDate).getFullYear() : 'Ongoing'}
                </p>
              </div>
            </div>
          </a>
        </div>
      ))}
    </div>

    <div class="mt-16 mb-16">
      <PaginationComponent
        currentPage={page.currentPage}
        totalPages={page.lastPage}
        baseUrl="/projects/"
        client:load
      />
    </div>
  </section>

</Layout>
